body{
    margin: 0;
}.carousel-img{
    height: 55rem;
}span{
    font-size: 1.2rem;
}
@media (max-width:770px){
    .card{
        width: 45rem;
    }
}

@media (max-width:1000px){
    .carousel-img{
        width: 80%;
        height: 80%;
        border-radius: 10px;
    }.slide{
        width: 80%;
        height: 80%;
        padding-left: 20%;
        padding-top: 2rem;
        border-radius: 10px;
    }
}